/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 26-Sep-2022, 15:32:51
    Author     : vincentmeert
*/

body{
    margin-left: 20px;
    cursor: url(pen.png), auto;

}

body, html{
height: 100%;
}

head{
    margin-left: 10px;
    cursor: url(pen.png), auto;

}

.enter
{
text-align: center;  
padding-top: 20%;

}

.container {
  position: relative;
}

.head,
.bar{
  display: inline-block;
}

.bar {
  position: fixed;
  right: 0;
  padding-right: 30px;
  line-height: 0.2em;
}

.end
{
text-align: center;  
padding-top: 20%;

}

.gg
{
  background-image: url("cya.gif");
  height: 110%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  
}
/* Three image containers (use 25% for four, and 50% for two, etc) */

/* Clear floats after image containers */
