/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 26-Sep-2022, 15:32:51
    Author     : vincentmeert
*/

body{
    margin-left: 20px;
    cursor: url(pen.png), auto;

}

head{
    margin-left: 10px;
    cursor: url(pen.png), auto;

}

.enter
{
text-align: center;  


}

/* Three image containers (use 25% for four, and 50% for two, etc) */

/* Clear floats after image containers */
